.containerBlog{
    text-align: $text-align;
    font-size: 1.5vw;
    margin-bottom: 5em;
}

.containerBlog img{
    width: 20vw;
    @include blog-shadow($color-brownDark);
}

@include max-desktop {

    /* blog css */

    .containerBlog{
       
        font-size: 2.7vw;
       
    }
}

@include for-all {
    .containerBlog img{
        width: 25vw;
        @include blog-shadow($color-brownDark);
    }

    .containerBlog{
       
        font-size: 3vw;
       
    }
}