.imgShop{
    
    display: grid;
    grid-template-columns: repeat(6,16%);
    grid-template-rows: repeat(6,16%);
    gap: 1rem;
    width: 50%;
}

.imgShop_1{
    @include shop-shadow($color-brownDark);
    grid-column: 1/3;
    grid-row: 1/8;
    width: 70%;
    height: auto;
}

.imgShop_2{
    @include shop-shadow($color-brownDark);
    grid-column: 3/6;
    grid-row: 1/5;
    @extend .w80;
    height: auto;
}

.imgShop_3{
    @include shop-shadow($color-brownDark);
    grid-column: 3/6;
    grid-row: 5/9;
    @extend .w80;
    height: auto;
}

.imgShop_4{
    @include shop-shadow($color-brownDark);
    grid-column: 6/8;
    grid-row: 1/10;
    @extend .w100;
    height: auto;
}


@include for-phone-tablet {
    .imgShop{
        @extend .w100;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imgShop_1, .imgShop_2, .imgShop_3, .imgShop_4{
        
        @extend .w100;
        height: auto;
    }
}

@include for-all{
    .imgShop{
        @extend .w80;
        display: flex;
        flex-direction: column;
    }

    .imgShop img{
        margin: auto;
        display: flex;
        text-align: $text-align;
    }

    .imgShop_1, .imgShop_2, .imgShop_3, .imgShop_4{
        
        @extend .w100;
        height: auto;
    }
}